# KMeansClustering algorithm

**Importing required libraries**

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.datasets import load_digits
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [32]:
from sklearn.cluster import KMeans

In [33]:
from sklearn.datasets import load_iris

In [34]:
iris = load_iris()

**Specifying no. of clusters as 3**

In [35]:
km= KMeans(n_clusters = 3)

In [36]:
km

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

**fitting data to algorithm and getting output**

In [37]:
y_predict=km.fit_predict(iris.data)

In [38]:
 df= pd.DataFrame(iris.data,columns=iris.feature_names)

In [39]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [40]:
df['cluster']=y_predict

In [41]:
df1=df[df.cluster==0]
df2=df[df.cluster==1]
df3=df[df.cluster==2]

**plotting output of diffrent clusters**

In [42]:

plt.scatter(df1['sepal length (cm)'],df1['sepal width (cm)'])
plt.scatter(df2['sepal length (cm)'],df2['sepal width (cm)'])
plt.scatter(df3['sepal length (cm)'],df3['sepal width (cm)'])
plt.xlabel('sepal length (cm)')
plt.ylabel('sepal width (cm)')

Text(0, 0.5, 'sepal width (cm)')

**Algorithm To find optimum no. of cluster**

In [43]:
k_rng=range(1,10)
sse=[]
for k in k_rng:
    km = KMeans(n_clusters=k)
    km.fit(iris.data)
    sse.append(km.inertia_)
    
sse

[681.3706,
 152.34795176035792,
 78.85144142614601,
 57.228473214285714,
 46.44618205128205,
 39.03998724608725,
 34.845239750445636,
 30.112388528138535,
 27.950810145994364]

In [44]:
plt.plot(k_rng,sse)

In [45]:
plt.show()